<header>
  <h1>My Music App</h1>
  <button (click)="goBack()">Back</button>
</header>

<main class="flex justify-center">
  <div *ngIf="!showAlbums && !showSongs">
    <h2>List of Artists</h2>
    <ul>
      <li  *ngFor="let artist of artists">
        <button (click)="showAlbumsForArtist(artist.id)">
        <img [width]="200" [src]="artist.artistImg" alt="Artist Image"/>
        {{ artist.name }}</button>
      </li>
    </ul>
  </div>

  <div *ngIf="showAlbums && !showSongs"> 
    <h2>Albums for {{ selectedArtist?.name }}</h2>
    <ul>
      <li *ngFor="let album of albums">
        <a (click)="showSongsForAlbum(album.id)">
        <img [width]="200" [src]="album.albumArt" alt="Album Art"/>
        {{ album.name }}</a>
      </li>
    </ul>
  </div>

  <div *ngIf="showSongs">
    <h2>Songs for {{ selectedAlbum?.name }}</h2>
    <ul>
      <li class="list-unstyled" *ngFor="let song of songs">
        {{ song.name }}
      </li>
    </ul>
  </div>
</main>

<footer>
  <p>&copy; 2024 My Music App</p>
</footer>
