<div class="header text-center my-3">
  <button class="btn btn-primary" routerLink="/">Back to Artists</button>
  <button class="btn btn-primary ml-3" (click)="showAddAlbumForm = !showAddAlbumForm">Add Album</button>
</div>

<!-- Add Album Form -->
<div *ngIf="showAddAlbumForm" class="container my-4">
  <form (ngSubmit)="addAlbum()" class="bg-light p-4 rounded shadow-sm">
    <div class="form-group mb-3">
      <label for="name" class="form-label">Album Name</label>
      <input [(ngModel)]="newAlbum.name" name="name" id="name" class="form-control" placeholder="Album Name" required />
    </div>
    <div class="form-group mb-3">
      <label for="albumArt" class="form-label">Album Art URL</label>
      <input [(ngModel)]="newAlbum.albumArt" name="albumArt" id="albumArt" class="form-control" placeholder="Album Art URL" required />
    </div>
    <div class="text-center">
      <button class="btn border-black text-white" (click)="cancelAdd()" style="background-color: red;">Cancel</button>
      <button type="submit" class="btn text-white border-black ml-3" style="background-color: rgb(61, 59, 59);">Add Album</button>
    </div>
  </form>
</div>

<div *ngIf="albums.length === 0" class="text-white text-center my-4">
  No albums found for this artist.
</div>

<div *ngIf="albums.length > 0" class="flex flex-col items-center mb-5">
  <h2 class="h2 text-white text-center">Albums</h2>
  <ul class="flex flex-col items-center">
    <li class="mb-3 bg-emerald-300 hover:bg-emerald-400 text-slate-700 w-full" *ngFor="let album of albums">
      <div>
        <div class="flex items-center text-center wrap-text" style="max-width: 300px;">
          <button class="text-xl wrap-text" (click)="navigateToSongs(album._id)">
            <img [width]="300" [src]="album.albumArt" alt="Album Art"/>
            {{ album.name }}
          </button>
        </div>
        <div class="text-center">
          <button class="ml-3 btn btn-warning my-2 border-black" (click)="showEditForm(album)">Edit</button>
          <button class="ml-3 btn btn-danger my-2 border-black" (click)="confirmDelete(album)">Delete</button>
        </div>
      </div>
      <!-- Edit Album Form -->
      <div *ngIf="showEditAlbumForm && selectedAlbum._id === album._id" class="container my-4 bg-light p-4 rounded shadow-sm">
        <form (ngSubmit)="editAlbum()">
          <div class="form-group mb-3">
            <label for="name" class="form-label">Album Name</label>
            <input [(ngModel)]="selectedAlbum.name" name="name" id="name" class="form-control" placeholder="Album Name" required />
          </div>
          <div class="form-group mb-3">
            <label for="albumArt" class="form-label">Album Art URL</label>
            <input [(ngModel)]="selectedAlbum.albumArt" name="albumArt" id="albumArt" class="form-control" placeholder="Album Art URL" required />
          </div>
          <div class="text-center">
            <button type="button" class="btn text-white border-black" style="background-color: red;" (click)="cancelEdit()">Cancel</button>
            <button type="submit" class="btn text-white border-black ml-3" style="background-color: rgb(61, 59, 59);">Save</button>
          </div>
        </form>
      </div>
      <!-- Delete Confirmation -->
      <div *ngIf="showDeleteConfirmation && selectedAlbum._id === album._id" class="container my-4 bg-light p-4 rounded shadow-sm text-center" style="max-width: 300px;">
        <p class="mb-2">Are you sure you want to delete {{ selectedAlbum.name }}?</p>
        <button class="btn border-black text-white" (click)="cancelDelete()" style="background-color: red;">Cancel</button>
        <button class="btn ml-3 border-black text-white" (click)="deleteAlbum()" style="background-color: rgb(61, 59, 59);">Delete</button>
      </div>
    </li>
  </ul>
</div>
