<div class="header text-center my-3">
  <button class="btn btn-primary" (click)="showAddArtistForm = !showAddArtistForm">Add Artist</button>
</div>

<!-- Add Artist Form -->
<div *ngIf="showAddArtistForm" class="container my-4">
  <form (ngSubmit)="addArtist()" class="bg-light p-4 rounded shadow-sm">
    <div class="form-group mb-3">
      <label for="name" class="form-label">Artist Name</label>
      <input [(ngModel)]="newArtist.name" name="name" id="name" class="form-control" placeholder="Artist Name" required />
    </div>
    <div class="form-group mb-3">
      <label for="artistImg" class="form-label">Image URL</label>
      <input [(ngModel)]="newArtist.artistImg" name="artistImg" id="artistImg" class="form-control" placeholder="Artist Image URL" required />
    </div>
    <div class="text-center">
      <button class="btn border-black text-white" (click)="cancelAdd()" style="background-color: red;">Cancel</button>
      <button type="submit" class="btn text-white ml-3 border-black" style="background-color: rgb(61, 59, 59);">Add Artist</button>
    </div>
  </form>
</div>

<div *ngIf="artists.length === 0" class="text-white text-center my-4">
  No artists found.
</div>

<div class="flex flex-col items-center mb-5">
  <h2 class="h2 text-white text-center">Artists</h2>
  <ul class="flex flex-col items-center">
    <li class="mb-3 bg-emerald-300 hover:bg-emerald-400 text-slate-700 w-full" *ngFor="let artist of artists">
      <div>
        <div class="flex items-center text-center wrap-text" style="max-width: 300px;">
          <button class="text-xl wrap-text" (click)="navigateToAlbums(artist._id)">
            <img [width]="300" [src]="artist.artistImg" alt="Artist Image"/>
            {{ artist.name }}
          </button>
        </div>
        <div class="text-center">
          <button class="ml-3 btn btn-warning my-2 border-black" (click)="showEditForm(artist)">Edit</button>
          <button class="ml-3 btn btn-danger my-2 border-black" (click)="confirmDelete(artist)">Delete</button>
        </div>
      </div>
      <!-- Edit Artist Form -->
      <div *ngIf="showEditArtistForm && selectedArtist._id === artist._id" class="container my-4 bg-light p-4 rounded shadow-sm">
        <form (ngSubmit)="editArtist()">
          <div class="form-group mb-3">
            <label for="name" class="form-label">Artist Name</label>
            <input [(ngModel)]="selectedArtist.name" name="name" id="name" class="form-control" placeholder="Artist Name" required />
          </div>
          <div class="form-group mb-3">
            <label for="artistImg" class="form-label">Image URL</label>
            <input [(ngModel)]="selectedArtist.artistImg" name="artistImg" id="artistImg" class="form-control" placeholder="Image URL" required />
          </div>
          <div class="text-center">
            <button type="button" class="btn text-white border-black" style="background-color: red;" (click)="cancelEdit()">Cancel</button>
            <button type="submit" class="btn text-white border-black ml-3" style="background-color: rgb(61, 59, 59);">Save</button>
          </div>
        </form>
      </div>
      <!-- Delete Confirmation -->
      <div *ngIf="showDeleteConfirm && selectedArtist._id === artist._id" class="container my-4 bg-light p-4 rounded shadow-sm text-center" style="max-width: 300px;">
        <p class="mb-2">Are you sure you want to delete {{ artist.name }}?</p>
        <button class="btn border-black text-white" (click)="cancelDelete()" style="background-color: red;">Cancel</button>
        <button class="btn border-black text-white ml-3" (click)="deleteArtist()" style="background-color: rgb(61, 59, 59);">Yes</button>
      </div>
    </li>
  </ul>
</div>